<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui/themes/easyui.css'}">
<link rel="stylesheet" type="text/css" href="@{'/public/jquery-easyui/themes/icon.css'}">
<script type="text/javascript" src="@{'/public/javascripts/jquery-2.0.0.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.easyui.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/easyui-lang-zh_CN.js'}"></script>
</head>
<body>
    <table id="datas" class="easyui-datagrid" style="border: false; width: auto; height: auto" data-options="pagination:true,singleSelect:true,url:'/admin/combo/getCombos',method:'get',toolbar:'#tb'">
        <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th data-options="field:'name',width:150,align:'center'">套餐名称</th>
                <th data-options="field:'price',width:50,align:'center'">价格</th>
                <th data-options="field:'discount',width:130,align:'center'">折扣</th>
                <!-- 
                <th data-options="field:'daynum',width:80,align:'center'">单日订购数量</th>
                <th data-options="field:'totalnum',width:240,align:'center'">订购总量</th>
                 -->
                <th data-options="field:'meals',width:240,align:'center',formatter:function(val,rec){
                    var address = '';                    
                    for (i=0;i<val.length;i++) {
                        address+=val[i].mealname+'<br>'
                    }
                    return address;
                }">套餐内容</th>
                <th data-options="field:'des',width:240,align:'center'">套餐描述</th>
                <th data-options="field:'pic',width:240,align:'center'">图片</th>
                <th data-options="field:'comments',width:240,align:'center'">评论</th>
            </tr>
        </thead>
    </table>
    <div id="tb" style="border: false; padding: 5px; height: auto">
        <div style="margin-bottom: 5px">
            <a id="add" class="easyui-linkbutton" iconCls="icon-add" plain="true"></a>
            <a id="edit" class="easyui-linkbutton" iconCls="icon-edit" plain="true"></a> 
            <a id="delete" class="easyui-linkbutton" iconCls="icon-remove" plain="true"></a>
        </div>
    </div>
    <div id="editdialog" style="padding:5px;width:550px;height:auto;top:100px" closed="true">
       #{form @AdminCombos.saveCombo(), id:'dataform'}
            <table cellpadding="5">
                <tr>
                    <td>套餐名称：</td>
                    <td><input id="name" class="easyui-validatebox textbox" type="text" name="combo.name" data-options="required:true" style="width:150px" /></td>
                    <td>描述</td>
                    <td><input id="des" class="easyui-validatebox textbox" type="text" name="combo.des" data-options="required:true" style="width:150px" /></td>
                    
                </tr>
                <tr>
                    <td>价格</td>
                    <td><input id="price" class="easyui-validatebox textbox" type="text" name="combo.price.price" data-options="required:true" style="width:150px" /></td>
                    <td>折扣:</td>
                    <td><input id="discount" class="easyui-validatebox textbox" type="text" name="combo.price.discount" data-options="required:true" style="width:150px"></input></td>
                </tr>
                <tr>
                    <!-- 
                    <td>菜品图片:</td>
                    <td><input class="easyui-validatebox textbox" type="text" name="meal" data-options="required:true" style="width:150px"></input></td>
                     -->
                </tr>
            </table>
            <input type="hidden" name="combo.id" id="combo.id"/>
        #{/form}
        <table cellpadding="5">
            <tr>
                <td>选择菜品：</td>
                <td><select id="mealcombo" class="easyui-combogrid" style="width:150px"></select></td>
                <td><input type="button" value="确定" onClick="chooseMeal()"> </td>
            </tr>
        </table>
        <table id="mealdatas"  class="easyui-datagrid" style="border: false; width: auto; height: auto">
            <thead>
                <tr>
                        <th data-options="field:'id',width:0,hidden:true">ID</th>
                        <th data-options="field:'type',width:50,align:'center',formatter:function(val,rec){
		                    if (val == 1) {
		                      return '主食';
		                    } else if (val == 2) {
		                      return '菜品';
		                    } else if (val == 3) {
		                      return '饮料';
		                    }
		                    return '--';
		                }">类别</th>
                        <th data-options="field:'name',width:180,align:'center'">名称</th>
                        <th data-options="field:'price',width:80,align:'center'">价格</th>
                        <th data-options="field:'discount',width:50,align:'center'">折扣</th>
                   <!-- <th data-options="field:'desc',width:100,align:'center'">备注</th> -->
                        <th data-options="field:'oper',width:60,align:'center'">操作</th>
                </tr>
            </thead>
        </table>
    </div> 

    <script type="text/javascript">
    function chooseMeal() {
        var g = $('#mealcombo').combogrid('grid');    // get datagrid object
        var r = g.datagrid('getSelected');  // get the selected row
        var mealdesc = $('#mealdes').val();
        var index = $('#mealdatas').datagrid('getRows').length;
        var mealrow = $('#mealdatas').datagrid('appendRow',{
            id:r.id,
            type:r.type,
            name:r.name,
            price:r.price,
            discount:r.discount,
//          desc:mealdesc,
            oper:"<a onclick='deletemealrow("+index+")'><font color='0000ff'>删除</font></a>"
        });
    }

	    $('#mealcombo').combogrid({
	        panelWidth: 500,
	        idField: 'id',
	        textField: 'name',
	        url: '/admin/combo/getMeals',
	        method: 'get',
	        columns: [[
	            {field:'id',title:'ID',width:0,hidden:true},
	            {field:'type',title:'类别',width:80,formatter:function(val,rec){
                    if (val == 1) {
                        return '主食';
                      } else if (val == 2) {
                        return '菜品';
                      } else if (val == 3) {
                        return '饮料';
                      }
                      return '--';
                  }},
	            {field:'name',title:'名称',width:80},
	            {field:'price',title:'价格',width:80,align:'right'},
	            {field:'discount',title:'折扣',width:80}
	        ]],
	        fitColumns: true
	    });
    
        function deletemealrow(row) {
            $('#mealdatas').datagrid('deleteRow',row);
        }
	    
        $("#add").click(function() {
        	$('#mealdatas').datagrid({
                data: []
            });
            $('#dataform').form('clear');
            $('#editdialog').dialog('open');
        });
        
        $("#edit").click(function() {
            var rows = $('#datas').datagrid('getSelections');
            if (rows.length == 0) {
                alert("请先选择需要编辑的条目！")
            }
            var id = "id=" + rows[0].id;
            $.ajax({
                url:'/admin/combo/getComboInfo',  
                type:'GET',
                data:id,
                success:function(data){
                    $('#mealdatas').datagrid({
                        data: []
                    });
                    var obj = JSON.parse(data);
                    $('#dataform').form('load',{
                    	'combo.id':obj.id,
                    	'combo.name':obj.name,
                    	'combo.price.price':obj.price,
                    	'combo.price.discount':obj.discount,
                    	'combo.des':obj.des
                    });
                    
                    var meals = obj.meals;
                    for (i=0;i<meals.length;i++) {
                        var r = meals[i];
                        var index = $('#mealdatas').datagrid('getRows').length;
                        var mealrow = $('#mealdatas').datagrid('appendRow',{
                            id:r.mealid,
                            type:r.mealtype,
                            name:r.mealname,
                            price:r.mealprice,
                            discount:r.mealdiscount,
//                          desc:mealdesc,
                            oper:"<a onclick='deletemealrow("+index+")'><font color='0000ff'>删除</font></a>"
                        });
                    }
                    
                    $("#editdialog").dialog("open");
                    
                },  
                error:function() {  
                    alert("编辑失败，请重试！");  
                }  
            });
        });
    
        $("#delete").click(function() {
            var rows = $('#datas').datagrid('getSelections');
            var ids = "";
            for(var i=0; i<rows.length; i++){
                ids += "id="+ rows[i].id
                if (i != rows.length - 1) {
                    ids+="&"
                }
            }
            
            $.ajax({
                url:'/admin/combo/deleteCombo',  
                type:'POST',
                data:ids,  
                success:function(data){  
                    $("#editdialog").dialog("close");
                    $("#datas").datagrid("reload");
                    alert("删除成功！");
                },  
                error:function(){  
                    alert("删除失败，请重试！");  
                }  
            });
        });
        
        $("#query").click(function() {
            startdate=$('#startdate').datebox("getValue");
            enddate=$('#enddate').datebox("getValue");
            $('#datas').datagrid('load', { 
                startdate: startdate,
                enddate: enddate 
            });
        });
        
        $('#editdialog').dialog({
            title : '套餐编辑',
            buttons : [
            {
                text : '保存',
                iconCls : 'icon-save',
                handler : function() {
                	
                	var rows = $('#mealdatas').datagrid('getRows');
                	var meals = '';
                	for (i=0;i<rows.length;i++) {
                        var row = rows[i];
                        meals += 'mealid=' + row.id + '&';
                    }
                    if (meals == '') {
                        alert("请选择菜品！")
                    }
                	
		            var form = $("#dataform"); 
		            $.ajax({
		            	url:form.attr('action'),
		            	type:form.attr('method'),
		            	data:form.serialize() + "&" + meals,
		            	success:function(data){  
                            $("#editdialog").dialog("close");
                            $("#datas").datagrid("reload");
                            alert("提交成功！");
                        },  
                        error:function(){  
                            alert("提交失败，请重试！");  
                        }
		            });
	            }
            }, {
                text : '取消',
                iconCls : 'icon-cancel',
                handler : function() {
                    $('#editdialog').dialog('close');
                }
            }]
        });
        
    </script>
</body>
</html>