
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
a {
    background: none repeat scroll 0 0 transparent;
}
a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0 none;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    box-sizing: content-box;
    height: 0;
}
mark {
    background: none repeat scroll 0 0 #ff0;
    color: #000;
}
code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "“" "”" "‘" "’";
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.fade.in {
    opacity: 1;
}
.collapse {
    display: none;
}
.collapse.in {
    display: block;
}
.collapsing {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.35s ease 0s;
}
.bs-tooltip {
    display: block;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    position: absolute;
    visibility: visible;
    z-index: 1030;
}
.bs-tooltip.in {
    opacity: 0.9;
}
.bs-tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}
.bs-tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}
.bs-tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}
.bs-tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}
.bs-tooltip-inner {
    background-color: #000000;
    border-radius: 4px;
    color: #ffffff;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
}
.bs-tooltip-arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
}
.bs-tooltip.top .bs-tooltip-arrow {
    border-top-color: #000000;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}
.bs-tooltip.top-left .bs-tooltip-arrow {
    border-top-color: #000000;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 5px;
}
.bs-tooltip.top-right .bs-tooltip-arrow {
    border-top-color: #000000;
    border-width: 5px 5px 0;
    bottom: 0;
    right: 5px;
}
.bs-tooltip.right .bs-tooltip-arrow {
    border-right-color: #000000;
    border-width: 5px 5px 5px 0;
    left: 0;
    margin-top: -5px;
    top: 50%;
}
.bs-tooltip.left .bs-tooltip-arrow {
    border-left-color: #000000;
    border-width: 5px 0 5px 5px;
    margin-top: -5px;
    right: 0;
    top: 50%;
}
.bs-tooltip.bottom .bs-tooltip-arrow {
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
    left: 50%;
    margin-left: -5px;
    top: 0;
}
.bs-tooltip.bottom-left .bs-tooltip-arrow {
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
    left: 5px;
    top: 0;
}
.bs-tooltip.bottom-right .bs-tooltip-arrow {
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
    right: 5px;
    top: 0;
}
.bs-modal-open {
    overflow: hidden;
}
.bs-modal {
    bottom: 0;
    display: none;
    left: 0;
    overflow-x: auto;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}
.bs-modal.fade .bs-modal-dialog {
    transform: translate(0px, -25%);
    transition: transform 0.3s ease-out 0s;
}
.bs-modal.in .bs-modal-dialog {
    transform: translate(0px, 0px);
}
.bs-modal-dialog {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
    width: auto;
    z-index: 1050;
}
.bs-modal-content {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: medium none;
    width: 100%;
    height: 400px;
    position: relative;
}
.bs-modal-backdrop {
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
}
.bs-modal-backdrop.fade {
    opacity: 0;
}
.bs-modal-backdrop.in {
    opacity: 0.5;
}
.bs-modal-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.4286px;
    padding: 15px;
}
.bs-modal-header .bs-close {
    margin-top: -2px;
}
.bs-modal-title {
    line-height: 1.42857;
    margin: 0;
}
.bs-modal-body {
    padding: 20px;
    position: relative;
}
.bs-modal-footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
}
.bs-modal-footer:before, .bs-modal-footer:after {
    content: " ";
    display: table;
}
.bs-modal-footer:after {
    clear: both;
}
.bs-modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.bs-modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.bs-modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
@media screen and (min-width: 768px) {
.bs-modal-dialog {
    padding-bottom: 30px;
    padding-top: 30px;
    
}
.bs-modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
}
.bs-modal-backdrop + .bs-modal-backdrop {
    z-index: 1050;
}
.bs-modal-open {
    margin-right: 17px;
}
.bs-close {
    background: url("/forward/img/global/global-sprites.png?v=4") no-repeat scroll -100px 0 rgba(0, 0, 0, 0);
    height: 24px;
    position: absolute;
    right: -12px;
    text-indent: -99999em;
    top: -10px;
    width: 24px;
}
.bs-modal-dialog {
    margin: 30px auto;
    padding: 0;
}
@media screen and (min-width: 768px) {
.bs-modal-dialog {
    margin: 30px auto;
    padding: 0;
}
}
.bs-modal-content {
    border-radius: 3px;
}
.bs-modal-backdrop.in {
    opacity: 0.6;
}
.bs-modal-header {
    border-bottom-width: 0;
    padding: 15px 20px;
}
.bs-modal-header.with-underline {
    border-bottom-width: 1px;
}
.bs-modal-header + .bs-modal-body {
    padding-top: 0;
}
.bs-modal-title {
    font-size: 18px;
    line-height: 1em;
}
.bs-modal-title > small {
    color: #999;
    font-size: 0.75em;
    font-weight: normal;
    margin-left: 10px;
}
.bs-modal-body {
    padding: 20px;
}
.bs-modal-footer {
    background: none repeat scroll 0 0 #f9f9f9;
    border-radius: 0 0 3px 3px;
    margin: 0;
    padding: 15px 20px;
}
@font-face {
    font-family: "eleme";
    font-style: normal;
    font-weight: normal;
    src: url("/forward/css/fonts/eleme_20140526.eot?#iefix") format("embedded-opentype"), url("/forward/css/fonts/eleme_20140526.woff?") format("woff");
}
[class^="glyph-"], [class*=" glyph-"] {
    -moz-osx-font-smoothing: grayscale;
    font-family: 'eleme';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

html {
    min-height: 100%;
}
body {
    background: none repeat scroll 0 0 #e4e4e4;
    color: #333;
    font: 13px/1.6em "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif;
    min-height: 100%;
    min-width: 960px;
    position: relative;
}
a {
    color: #08c;
    cursor: pointer;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 10px;
}
ul, ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
input {
    box-sizing: border-box;
    padding: 0;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    border: 1px solid #bbb;
    border-radius: 2px;
    height: 28px;
    line-height: 1.2em;
    padding: 4px;
    width: 160px;
}
textarea {
    border: 1px solid #bbb;
    border-radius: 3px;
    box-sizing: border-box;
    height: 100px;
    margin-bottom: 15px;
    overflow: auto;
    padding: 10px;
    resize: vertical;
    width: 100%;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus {
    border-color: #2a89cc;
    box-shadow: 0 0 4px #2a89cc;
    outline: 0 none;
}
.no-placeholder input.placeholder, .no-placeholder textarea.placeholder {
    color: #aaa;
}
button, input[type="button"], input[type="submit"], input[type="reset"] {
    box-sizing: border-box;
    display: inline-block;
}
img {
    max-width: 100%;
}
#map_canvas img, .amap-container img {
    max-width: none;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: text-bottom;
}
.container {
    margin: 0 auto;
    position: relative;
    width: 960px;
}
.container:after {
    clear: both;
    content: "";
    display: table;
}
.group:after {
    clear: both;
    content: "";
    display: table;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pointer {
    cursor: pointer;
}
.invisible, .ui_invisible {
    visibility: hidden;
}
.relative {
    position: relative !important;
}
.absolute {
    position: absolute !important;
}
.static {
    position: static !important;
}
.hide, .ui_hide {
    display: none !important;
}
.block {
    display: block !important;
}
.inline-block {
    display: inline-block !important;
}
.inline {
    display: inline !important;
}
.clear {
    clear: both;
}
.float-l {
    float: left;
}
.float-r {
    float: right;
}
.float-n {
    float: none;
}
.float-list > li {
    float: left;
}
.align-l {
    text-align: left;
}
.align-c {
    text-align: center;
}
.align-r {
    text-align: right;
}
.clear-bdt {
    border-top: medium none !important;
}
.clear-bdl {
    border-left: medium none !important;
}
.clear-bdb {
    border-bottom: medium none !important;
}
.clear-bdr {
    border-right: medium none !important;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.clear-margin {
    margin: 0 !important;
}
.mt5 {
    margin-top: 5px;
}
.mb5 {
    margin-bottom: 5px;
}
.mtb5 {
    margin-bottom: 5px;
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.mtb10 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mb15 {
    margin-bottom: 15px;
}
.mtb15 {
    margin-bottom: 15px;
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.mtb20 {
    margin-bottom: 20px;
    margin-top: 20px;
}
.plr10 {
    padding-left: 10px;
    padding-right: 10px;
}
.plr20 {
    padding-left: 20px;
    padding-right: 20px;
}
.bold {
    font-weight: bold;
}
.ui-site-alert {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5e5aa;
    background-image: linear-gradient(180deg, #fceec1, #eedc94);
    border-color: -moz-use-text-color #deb887 #deb887;
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #deb887;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-sizing: border-box;
    padding: 8px 16px;
}
.ui-flash-note {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    position: fixed;
    top: 40%;
    z-index: 2010;
}
.no-rgba .ui-flash-note {
}
.ui-alert {
    border-radius: 3px;
}
.ui-alert.error {
    background: none repeat scroll 0 0 #f2dede;
    border: 1px solid #eed3d7;
    color: #b94a48;
}
.ui-alert.error > a {
    color: #953b39;
}
.ui-alert.warning {
    background: none repeat scroll 0 0 #fefaae;
    border: 1px solid #ebdfbc;
    color: #b68c43;
     width:600px;
}
.ui-alert.warning > a {
    color: #917036;
}
p.ui-alert {
    margin-bottom: 20px;
    padding: 8px 14px;
}
span.ui-alert {
    display: inline-block;
    margin: -1px 0;
    padding: 0 10px;
}
.ui-tip-notice {
    border-radius: 3px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: default;
    font-size: 12px;
    padding: 3px 8px;
    position: absolute;
    white-space: nowrap;
}
.ui-tip-notice:after {
    bottom: -4px;
    content: "";
    height: 8px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    transform: rotate(45deg);
    width: 8px;
}
.ui-tip-notice.error {
    background: none repeat scroll 0 0 #e74c3c;
}
.ui-tip-notice.error:after {
    background: none repeat scroll 0 0 #e74c3c;
}
.ui-tip-notice.success {
    background: none repeat scroll 0 0 #2ecc71;
}
.ui-tip-notice.success:after {
    background: none repeat scroll 0 0 #2ecc71;
}
.ui-tip-notice.warning {
    background: none repeat scroll 0 0 #f39c12;
}
.ui-tip-notice.warning:after {
    background: none repeat scroll 0 0 #f39c12;
}
.eleme_dropdown {
    position: relative;
}
.eleme_dropdown.open > .e_dropdown {
    display: block;
}
.eleme_dropdown .divider {
    background-color: #e0e0e0;
    height: 1px;
    width: 100%;
}
.eleme_dropdown > .e_dropdown {
    display: none;
    position: absolute;
    z-index: 50;
}
.no-boxshadow .e_dropdown {
    border: 1px solid #ccc;
}
.site-maintainance {
    background: none repeat scroll 0 0 #ffba00;
    border-bottom: 1px solid #e8aa02;
    color: #333;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}
.site-maintainance > .glyph {
    font-size: 16px;
    vertical-align: text-bottom;
}
.site-flash {
    background: none repeat scroll 0 0 #f5d313;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    color: #333;
    padding: 5px 15px;
    position: relative;
}
.site-flash > .site-flash-close {
    color: #333;
    font: 16px/1em verdana,sans-serif;
    position: absolute;
    right: 15px;
}
.site-flash.error {
    background: none repeat scroll 0 0 #e74c3c;
    color: #fff;
}
.site-flash.error > .site-flash-close {
    color: #fff;
}
.symbol-rmb:before {
    content: "¥";
    font-family: arial,sans-serif;
    font-size: inherit;
    line-height: inherit;
    margin-right: 1px;
}
.symbol-times:before {
    content: "×";
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.caret:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #666;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    width: 0;
}
.rating-stars {
    position: relative;
    top: 1px;
}
.glyph-rating-star {
    color: #ff9307;
    display: inline-block;
    font-family: "eleme";
    margin-right: 1px;
    overflow: hidden;
}
.glyph-rating-star.off {
    color: #a7a7a7;
}
.glyph-rating-star.half {
    position: relative;
    width: 0.5em;
    z-index: 1;
}
.glyph-rating-star.half + .glyph-rating-star.off {
    margin-left: -0.6em;
}
.global-mod-fixed {
    bottom: 162px;
    height: 101px;
    position: fixed;
    right: 10px;
    width: 48px;
}
.btn-back-top, .btn-app-qrcode, .btn-site-feedback {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    height: 48px;
    margin-bottom: 5px;
    width: 48px;
}
.no-rgba .btn-back-top, .no-rgba .btn-app-qrcode, .no-rgba .btn-site-feedback {
}
.btn-back-top {
    padding: 16px 11px 0;
}
.btn-back-top:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
}
.btn-back-top > .icon-backtop {
    background: url("/forward/img/global/global-sprites.png?v=4") no-repeat scroll -140px 0 rgba(0, 0, 0, 0);
    display: block;
    height: 14px;
    width: 26px;
}
.btn-app-qrcode {
    padding: 15px 15px 0;
    position: relative;
}
.btn-app-qrcode:hover > .img-qrcode {
    display: block;
}
.btn-app-qrcode > .icon-qrcode {
    background: url("/forward/img/global/global-sprites.png?v=4") no-repeat scroll -180px 0 rgba(0, 0, 0, 0);
    display: block;
    height: 18px;
    width: 18px;
}
.btn-app-qrcode > .img-qrcode {
    background: none repeat scroll 0 0 #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    max-width: none;
    padding: 5px;
    position: absolute;
    right: 53px;
    top: -43px;
    width: 124px;
}
.btn-site-feedback {
    line-height: 1.1em;
    padding: 11px 10px 0;
    text-align: center;
}
.btn-site-feedback:hover > .glyph {
    display: none;
}
.btn-site-feedback:hover > .text {
    display: block;
}
.btn-site-feedback > .glyph {
    font-size: 20px;
    position: relative;
    top: 2px;
}
.btn-site-feedback > .text {
    display: none;
}
.no-boxshadow .btn-app-qrcode > .img-qrcode {
    border: 1px solid #ccc;
}
.bs-modal-dialog.site-feedback-modal {
    width: 500px;
}
.site-feedback-action {
    margin: 0;
    text-align: right;
}
.ui-btn {
    background-color: #ededed;
    background-image: linear-gradient(to bottom, #efefef, #ebebeb);
    border: 1px solid #bbb;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    padding: 6px 20px;
}
.ui-btn:hover {
    opacity: 0.9;
}
.ui-btn:active {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05) inset;
}
.ui-btn + .ui-btn {
    margin-left: 10px;
}
.ui-btn.btn-small {
    font-size: 12px;
    padding: 4px 12px;
}
.ui-btn.btn-big {
    font-size: 16px;
    padding: 10px 26px;
}
.ui-btn.btn-confirm {
    background-color: #3ea6ff;
    background-image: linear-gradient(to bottom, #42abff, #3ba2ff);
    border-color: #368eca;
    color: #fff;
}
.ui-btn.btn-submit, .ui-btn.ui_submit {
    background-color: #fff28e;
    background-image: linear-gradient(to bottom, #fffab8, #ffea64);
    border-color: #e2c78d;
    width: 127px;
    height: 30px;
    line-height: 28px;
}
.ui-btn.btn-rp-test {
    background: none repeat scroll 0 0 #ffeb67;
    border-color: #e8d048;
    box-shadow: 0 1px 0 #fff08e inset, 0 1px 1px rgba(232, 208, 72, 0.3);
}
.ui-btn.btn-disabled, .ui-btn.ui_disabled {
    background-color: #eee;
    background-image: linear-gradient(to bottom, #f6f6f6, #e6e6e6);
    border-color: #ddd;
    color: #bbb;
    cursor: default;
}
.ui-btn.btn-disabled:hover, .ui-btn.ui_disabled:hover {
    opacity: 1;
}
.ui-btn.btn-disabled:active, .ui-btn.ui_disabled:active {
    box-shadow: none;
}
.icon-rst-badge {
    background: url("/forward/img/global/icon-badges.png?v=3") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 15px;
    width: 15px;
}
.icon-rst-badge.featured {
    background-position: 0 0;
    width: 27px;
}
.icon-rst-badge.spicy {
    background-position: 0 -20px;
}
.icon-rst-badge.new {
    background-position: 0 -40px;
}
.icon-rst-badge.new-restaurant {
    background-position: 0 -40px;
}
.icon-rst-badge.default-activity {
    background-position: 0 -60px;
}
.icon-rst-badge.recoup {
    background-position: 0 -80px;
}
.icon-rst-badge.invoice {
    background-position: 0 -100px;
}
.icon-rst-badge.online-payment {
    background-position: 0 -120px;
}
.icon-rst-badge.half-price {
    background-position: 0 -140px;
}
.icon-rst-badge.new-user-discount {
    background-position: 0 -160px;
}
.icon-rst-badge.third-party {
    background-position: 0 -180px;
}
.icon-rst-badge.deliver-fee {
    background-position: 0 -200px;
}
.icon-rst-badge.extra-discount {
    background-position: 0 -220px;
}
.icon-rst-badge.coupon {
    background-position: 0 -240px;
}
.icon-rst-badge.garnish {
    background-position: 0 -260px;
}
img.icon-rst-badge {
    background-position: 0 -60px;
}
.activity-badge {
    vertical-align: text-bottom;
}
.sns-icon {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999em;
    vertical-align: text-bottom;
}
.sns-icon.small {
    background-image: url("/forward/img/global/sns-icon-s.png");
    height: 16px !important;
    line-height: 16px !important;
    width: 16px !important;
}
.sns-icon.small.qzone {
    background-position: 0 -64px;
}
.sns-icon.small.weibo {
    background-position: 0 -96px;
}
.sns-icon.small.tencent {
    background-position: 0 -144px;
}
.sns-icon.small.renren {
    background-position: 0 -160px;
}
.sns-icon.small.kaixin {
    background-position: 0 -176px;
}
.sns-icon.small.douban {
    background-position: 0 -560px;
}
.sns-icon.large {
    background-image: url("/forward/img/global/sns-icon-l.png");
    height: 32px !important;
    line-height: 32px !important;
    width: 32px !important;
}
.sns-icon.large.weibo {
    background-position: 0 0;
}
.sns-icon.large.qzone {
    background-position: 0 -32px;
}
.sns-icon.large.renren {
    background-position: 0 -64px;
}
.sns-icon.large.kaixin {
    background-position: 0 -192px;
}
.sns-icon.large.douban {
    background-position: 0 -224px;
}
.sns-icon.large.tencent {
    background-position: 0 -1760px;
}
.sns-icon.large.wechat {
    background-position: 0 -3680px;
}
.icon-eleme-loader {
    background: url("/forward/img/global/loader-eleme.gif") no-repeatno-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 50px;
    width: 50px;
}
.bs-modal-dialog.rptest-modal {
    margin-top: 80px;
    width: 360px;
}
.rptest-wrapper {
    background: none repeat scroll 0 0 #dbf0fa;
    border-radius: 5px;
    color: #555;
    padding: 20px;
}
.rptest-badge {
    background: url("/forward/img/global/rptest-badge.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: block;
    height: 188px;
    margin: 0 auto -45px;
    text-indent: -9999em;
    width: 186px;
}
.rptest-ribbon-wrapper {
    -moz-user-select: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 75%;
}
.rptest-ribbon-wrapper:hover .rptest-ribbon-middle {
    background: none repeat scroll 0 0 #ff8651;
}
.rptest-ribbon-wrapper:hover .rptest-ribbon-side.left {
    transform: translate(3px, 0px);
}
.rptest-ribbon-wrapper:hover .rptest-ribbon-side.right {
    transform: translate(-3px, 0px);
}
.rptest-ribbon-wrapper.ui_active .rptest-ribbon-middle {
    background: none repeat scroll 0 0 #ff6928;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1) inset;
    transform: translate(0px, 3px);
}
.rptest-ribbon-wrapper.ui_active .rptest-ribbon-side.left, .rptest-ribbon-wrapper.ui_active .rptest-ribbon-side.right {
    transform: translate(0px, -3px);
}
.rptest-ribbon-middle {
    background: none repeat scroll 0 0 #ff7b42;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    height: 40px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    z-index: 2;
}
.rptest-ribbon-middle > .star {
    color: #cb4e24;
    font-size: 12px;
    line-height: 1em;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    top: 13px;
}
.rptest-ribbon-middle > .star.left {
    left: 10px;
}
.rptest-ribbon-middle > .star.right {
    right: 10px;
}
.rptest-ribbon-middle > .title, .rptest-ribbon-middle .caption {
    font-size: 13px;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.rptest-ribbon-middle > .caption {
    font-size: 12px;
    margin-top: 5px;
}
.rptest-ribbon-side {
    background: none repeat scroll 0 0 #ff632e;
    height: 40px;
    position: absolute;
    top: 3px;
    width: 20px;
    z-index: 1;
}
.rptest-ribbon-side:after {
    border-bottom: 20px solid #ff632e;
    border-top: 20px solid #ff632e;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
}
.rptest-ribbon-side.left {
    box-shadow: -10px 0 0 rgba(0, 0, 0, 0.2) inset;
    left: -15px;
}
.rptest-ribbon-side.left:after {
    border-left: 20px solid transparent;
    left: -20px;
}
.rptest-ribbon-side.right {
    box-shadow: 10px 0 0 rgba(0, 0, 0, 0.2) inset;
    right: -15px;
}
.rptest-ribbon-side.right:after {
    border-right: 20px solid transparent;
    right: -20px;
}
.rptest-rule {
    color: #777;
    margin-top: 20px;
    text-align: center;
}
.rptest-rule:before, .rptest-rule:after {
    background: none repeat scroll 0 0 #ccc;
    content: "";
    display: inline-block;
    height: 7px;
    width: 40px;
}
.rptest-rule:before {
    margin-right: 10px;
}
.rptest-rule:after {
    margin-left: 10px;
}
.rptest-result-wrapper {
    height: 192px;
    margin: 10px 0 0;
    position: relative;
}
.rptest-hint {
    bottom: 20px;
    color: #fff;
    font-size: 74px;
    line-height: 1em;
    position: absolute;
    right: -20px;
}
.rptest-result {
    line-height: 24px;
    margin: 0;
    padding: 0 10px;
    width: 75%;
}
.rptest-result.ui_hit {
    background: none repeat scroll 0 0 #ffd79a;
    color: #fe5a23;
    font-weight: bold;
    position: relative;
}
.rptest-result.ui_hit:after {
    border-bottom: 12px solid #ffd79a;
    border-right: 12px solid transparent;
    border-top: 12px solid #ffd79a;
    content: "";
    height: 0;
    position: absolute;
    right: -12px;
    top: 0;
    width: 0;
}
.rptest-result.ui_hit > .hit-badge {
    float: right;
    font-size: 14px;
    font-style: italic;
    margin-right: 30px;
}
.bs-modal.ilogin-modal {
    z-index: 1060;
}
.bs-modal.ilogin-modal > .bs-modal-dialog {
    height: 320px;
    margin-top: 200px;
    width: 320px;
}
.ilogin-iframe {
    height: 320px;
    width: 280px;
}
.site-topbar {
    background-color: #202020;
    background-image: linear-gradient(to bottom, #262626, #1a1a1a);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 100%;
}
.site-logo {
    background: url("/forward/img/global/global-sprites.png?v=4") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 40px;
    margin-right: 10px;
    overflow: hidden;
    text-indent: -99999em;
    width: 90px;
}
.topbar-mobile {
    background: none repeat scroll 0 0 #2d2d2d;
    border-radius: 3px;
    color: #ababab;
    float: left;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin: 8px 15px 0 0;
    text-align: center;
    width: 82px;
}
.topbar-mobile > .glyph-mobile {
    font-size: 1.2em;
    margin-right: 3px;
    vertical-align: text-top;
}
.topbar-glyph {
    color: #777;
    display: block;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    width: 20px;
}
.topbar-nav {
    float: right;
}
.topbar-nav .tnav-link {
    color: #ccc;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
.topbar-nav .tnav-link.current {
    background: none repeat scroll 0 0 #111;
    color: #fff;
}
.topbar-nav .tnav-link > a {
    color: #ccc;
}
.topbar-nav .tnav-username {
    font-size: 14px;
}
.topbar-site-nav {
    float: left;
    margin: 0 20px 0 0;
    position: relative;
}
.topbar-site-nav:after {
    background: none repeat scroll 0 0 #2e2e2e;
    content: "";
    display: block;
    height: 14px;
    position: absolute;
    right: -10px;
    top: 13px;
    width: 1px;
}
.topbar-site-nav > li {
    float: left;
}
.topbar-user-nav {
    float: left;
    margin-left: 10px;
}
.topbar-user-dropdown {
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    padding: 5px 0 !important;
    right: 0;
    top: 37px;
    width: 100px;
}
.topbar-user-dropdown:after {
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    left: auto;
    position: absolute;
    right: 30px;
    top: -5px;
}
.topbar-user-dropdown .divider {
    margin: 5px 0;
}
.topbar-user-dropdown .tuser-link {
    color: #222;
    display: block;
    font-size: 12px;
    line-height: 1.6em;
    padding: 5px 15px;
}
.topbar-user-dropdown .tuser-link:hover {
    background-color: #eee;
}
.topbar-user-dropdown [class^="glyph-"] {
    color: #bbb;
    font-size: 14px;
    margin-right: 5px;
    vertical-align: middle;
}
.topbar-search {
    float: left;
    margin-top: 7px;
    position: relative;
}
.topbar-search .glyph-search {
    color: #999;
    float: left;
    font-size: 15px;
    margin: 2px 5px 0 0;
}
.icon-tsloading, .icon-tsclear {
    height: 15px;
    margin-top: 1px;
    width: 15px;
}
.icon-tsloading {
    background: url("/forward/img/global/loader-indicator.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: right;
}
.icon-tsclear {
    background: url("/forward/img/global/global-sprites.png?v=4") no-repeat scroll 0 -40px rgba(0, 0, 0, 0);
    float: right;
}
.tsearch-form {
    background-color: #4e4e4e;
    border: 1px solid #141414;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #2a2a2a;
    box-sizing: border-box;
    height: 26px;
    overflow: hidden;
    padding: 3px 6px;
    transition: background-color 0.2s linear 0s;
    width: 200px;
}
.tsearch-form.focus {
    background-color: #fff;
}
.tsearch-form.focus .icon-tsearch {
    background-position: -40px -40px;
}
.tsearch-form.focus .tsearch-in-rst > .icon-tsearch {
    background-position: -20px -40px;
}
input.tsearch-input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #222;
    float: left;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0;
    width: 143px;
}
input.tsearch-input::-moz-placeholder {
    color: #999;
}
input.tsearch-input:focus {
    border-color: transparent;
    box-shadow: none;
    outline: 0 none;
}
.tsearch-in-rst {
    background: none repeat scroll 0 0 #6f6f6f;
    border: 1px solid #7f7f7f;
    border-radius: 2px;
    color: #fff;
    float: left;
    font: 12px/18px sans-serif;
    margin: -1px 5px 0 -4px;
    padding: 0 4px;
}
.tsearch-in-rst .action-remove {
    color: silver;
    font: 12px/12px tahoma;
    margin-left: 2px;
}
.tsearch-autocomplete {
    background: none repeat scroll 0 0 #ececec;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: none;
    overflow: hidden;
    position: absolute;
    top: 30px;
    width: 365px;
    z-index: 20;
}
.no-boxhsadow .tsearch-autocomplete {
    border: 1px solid #ccc;
}
.tsearch-no-result {
    padding: 15px 20px;
}
.tsearch-cate {
    box-sizing: border-box;
    color: #555;
    float: left;
    font-size: 12px;
    padding: 20px 0 20px 20px;
    width: 55px;
}
.tsearch-list {
    background: none repeat scroll 0 0 #fff;
    border-left: 1px solid #d7d7d7;
    box-sizing: border-box;
    float: left;
    padding: 10px 0;
    width: 310px;
}
.ts-dish-list {
    padding-bottom: 20px;
}
.tsearch-item {
    display: block;
    padding: 5px 20px 5px 15px;
}
.tsearch-item:after {
    clear: both;
    content: "";
    display: table;
}
.tsearch-item:hover, .tsearch-item.selected {
    background: none repeat scroll 0 0 #f3f3f3;
}
.tsearch_item.selected > .tsearch-item {
    background: none repeat scroll 0 0 #f3f3f3;
}
.ts-restaurant {
    line-height: 32px;
}
.tsr-logo {
    border: medium none;
    display: block;
    float: left;
    height: 32px;
    margin-right: 10px;
    width: 32px;
}
.tsr-name {
    display: block;
    float: left;
}
.tsr-time {
    float: right;
}
.ts-dish {
    padding-bottom: 10px;
    padding-top: 10px;
}
.tsd-name, .tsr-name {
    color: #222;
    font-size: 14px;
}
.tsd-rst, .tsr-time {
    color: #777;
    font-size: 12px;
}
.tsd-price {
    color: #777;
    float: right;
}
.ui_in_rst input.tsearch-input {
    width: 100px;
}
.ui_in_rst .tsearch-list {
    max-height: 390px;
    overflow: auto;
}
.topbar-widget {
    color: #222;
    float: left;
    font-size: 13px;
}
.topbar-widget.empty .twidget-total {
    display: none;
}
.twidget-toggle {
    display: block;
    padding: 10px;
    position: relative;
}
.twidget-total {
    background-color: #dd5401;
    border-radius: 6px;
    color: #fff;
    font: 10px/10px arial,sans-serif;
    min-width: 10px;
    padding: 1px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
}
.twidget-dropdown {
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    padding-top: 3px;
    right: -13px;
    top: 37px;
}
.twidget-dropdown:after {
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    left: auto;
    position: absolute;
    right: 30px;
    top: -5px;
}
.twidget-footer {
    background: none repeat scroll 0 0 #ececec;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #d7d7d7;
    color: #555;
    font-size: 12px;
    height: 48px;
    padding: 0 20px;
    text-align: right;
}
.twidget-btn {
    background-color: #e9e9e9;
    background-image: linear-gradient(to bottom, #f3f3f3, #e0e0e0);
    border: 1px solid #b9b9b9;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #222;
    display: inline-block;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 10px 0 0;
    text-align: center;
    width: 64px;
}
.twidget-loading {
    background: url("/forward/img/global/loader-eleme.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 50px;
    padding: 12px 0;
}
.twidget-empty {
    font-size: 13px;
    padding: 12px 20px;
}
.twidget-dropdown {
    width: 240px;
}
.tmsg-list {
    max-height: 315px;
    overflow-y: auto;
}
.tmsg-item {
    cursor: pointer;
    display: block;
    font-size: 12px;
    padding: 12px 20px;
}
.tmsg-item + .tmsg-item {
    border-top: 1px solid #e0e0e0;
}
.tmsg-item:hover {
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
}
.tmsg-title {
    color: #444;
    float: left;
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 2px;
}
.tmsg-time {
    color: #777;
    float: right;
}
.tmsg-content {
    clear: both;
    color: #777;
    font: inherit;
    margin: 0;
}
.twidget-dropdown {
    width: 280px;
}
.tcart-title {
    border-bottom: 1px solid #e2e2e2;
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 20px 0;
    padding-bottom: 8px;
}
.tcart-restaurant {
    color: #444;
}
.tcart-cost {
    color: #eb6100;
    float: right;
    font-size: 20px;
    margin-top: -2px;
}
.tcart-content {
    max-height: 290px;
    overflow-y: auto;
    padding: 0 20px;
}
.tcart-basket {
    border-bottom: 1px solid #e2e2e2;
    color: #777;
    font-size: 12px;
    line-height: 12px;
    padding: 7px 0;
}
.tcart-list {
    margin: 15px 0 20px;
}
.tcart-list + .tcart-basket {
    border-top: 1px solid #e2e2e2;
}
.tcart-item {
    font-size: 14px;
    margin-bottom: 15px;
}
.tcart-dish {
    font-size: 13px;
}
.tcart-amount {
    color: #999;
    font-weight: bold;
}
.tcart-price {
    float: right;
}
.tcart-hint {
    color: #555;
    font-family: inherit;
    font-size: 12px;
    margin: 14px 0 0;
}
.tcart-tel {
    color: #444;
    font: bold 18px arial;
}
.tcart-tel:hover {
    color: #2ba363;
}
.tcart-remainder {
    color: #eb6100;
    font-size: 16px;
}
.site-footer {
    padding: 30px 0;
}
.sfooter-line {
    font-size: 12px;
    text-align: center;
}
.sfooter-link {
    padding: 0 8px;
}
.sfooter-link:hover {
    text-decoration: underline;
}
.site-footer {
    color: #666;
}
.sfooter-line {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.sfooter-link {
    color: #666;
}
.site-bg {
    background: url("/forward/img/global/global-bg.jpg?v=2") repeat-x scroll 0 0 #c0deee;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}
.bg-sun, .bg-moon, .bg-cloud-left, .bg-cloud-right {
    background: url("/forward/img/global/site-bg.png") no-repeat scroll 0 0 transparent;
    position: absolute;
}
.bg-sun {
    background-position: 0 0;
    height: 343px;
    left: 0;
    right: auto;
    top: 150px;
    width: 420px;
}
.bg-moon {
    background-position: -450px 0;
    height: 247px;
    left: auto;
    right: 0;
    top: 100px;
    width: 260px;
}
.bg-cloud-left {
    background-position: 0 -350px;
    height: 786px;
    left: 0;
    right: auto;
    top: 250px;
    width: 291px;
}
.bg-cloud-right {
    background-position: -300px -350px;
    height: 567px;
    left: auto;
    right: 0;
    top: 450px;
    width: 294px;
}
.day .bg-moon {
    display: none;
}
.night .bg-sun {
    display: none;
}
.night > .site-footer {
    color: #fff;
}
.night .sfooter-line {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.night .sfooter-link {
    color: #fff;
}
.night .ctopbar-nav, .night .ctopbar-usernav, .night .ctopbar-usernav > .tuser-link {
    color: #fff;
}
.night .ctopbar-usernav > .caret:after {
    border-top-color: #fff;
}
@media (min-width: 1160px) {
body {
    min-width: 1140px;
}
.container {
    width: 1140px;
}
}




.checkout-auth-title {
    font: bold 18px/1.6 "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif;
}

.checkout-auth-fillform {
    border: 1px solid #ccc;
    border-radius: 2px;
    float: left;
    margin: 0 14px 0 0;
    padding: 4px;
}




.checkout-auth-fillform {
    border: 1px solid #ccc;
    border-radius: 2px;
    float: left;
    margin: 0 14px 0 0;
    padding: 4px;
}


.checkout-auth-btn.btn-send {
    background: none repeat scroll 0 0 #42abff;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    width: 100px;
}
.checkout-auth-btn {
    font-size: 14px;
    padding: 0;
    text-align: center;
}
a {
    color: #08c;
    cursor: pointer;
    text-decoration: none;
}
a {
    background: none repeat scroll 0 0 transparent;
}






