article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
section:before, section:after {
    content: "";
    display: table;
}
section:after {
    clear: both;
}
section {
    padding: 40px;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
    overflow-y: scroll;
}
body {
    background: url("../images/bg.jpg") repeat scroll 0 0 #E2EAED;
    font-size: 15px;
    line-height: 1.231;
    margin: 0;
}
body, button, input, select, textarea {
    color: #888888;
    font-family: "FreightSans",sans-serif;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #DDE5E8;
    text-shadow: none;
}
a {
    -moz-transition: color 0.2s linear 0s;
    color: #0C63C2;
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0 none;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    color: #333333;
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D2D0CA -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
ins {
    background: none repeat scroll 0 0 #FFFF99;
    color: #000000;
    text-decoration: none;
}
mark {
    background: none repeat scroll 0 0 #FFFF00;
    color: #000000;
    font-style: italic;
    font-weight: bold;
}
pre, code, kbd, samp {
    font-family: monospace,monospace;
    font-size: 11px;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before, q:after {
    content: none;
}
small {
    font-size: 85%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
h1, h2, h3, h4, h5, h6 {
    color: #333333;
    margin: 0 0 0.2em;
}
h2 {
    font-size: 31px;
    font-weight: normal;
}
h3 {
    font-size: 20px;
    font-weight: bold;
}
h3 a, h2 a {
    color: #333333;
}
h3 a:hover, h2 a:hover {
    color: #000000;
}
h4 {
    color: #96A0AD;
    font-size: 13px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
}
ul, ol {
    margin: 0.3em 0;
    padding: 0 0 0 18px;
}
li {
    margin: 0.25em 0;
}
dd {
    margin: 0 0 0 40px;
}
nav ul, nav ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
    vertical-align: middle;
}
p {
    line-height: 1.4;
    margin: 8px 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
label {
    cursor: pointer;
}
legend {
    border: 0 none;
    padding: 0;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
table button, table input {
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
input[type="checkbox"], input[type="radio"] {
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
    background-color: #F0DDDD;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    vertical-align: top;
}
select {
    margin-left: 1px;
}
#container {
    margin: 30px auto;
    width: 980px;
}
#content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
}
h1 a {
    background: url("../images/sprite.png") repeat scroll 0 0 transparent;
    display: block;
    height: 40px;
    margin-bottom: 15px;
    margin-left: 40px;
    overflow: hidden;
    text-indent: -9999px;
    width: 216px;
}
header {
    border-bottom: 1px solid #E8EAEC;
    border-radius: 5px 5px 0 0;
    height: 88px;
    padding: 0 40px;
    position: relative;
}
footer {
    background: url("../images/sprite.png") no-repeat scroll 0 100% transparent;
    height: 41px;
    padding: 20px 40px 0;
}
footer h1 a {
    background-position: 0 -40px;
    height: 22px;
    margin: 0;
    width: 110px;
}
.icnGithub, .icnTwitter {
    background-image: url("../images/sprite.png");
    display: inline-block;
    height: 24px;
    overflow: hidden;
    text-indent: -9999px;
    width: 24px;
}
.icnGithub {
    background-position: -111px -41px;
}
.icnTwitter {
    background-position: -135px -41px;
}
#mainNavigation {
    position: relative;
    top: 33px;
}
#mainNavigation li {
    float: left;
    margin-right: 47px;
}
#mainNavigation a {
    color: #333333;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}
.cartInfo {
    background: url("../images/sprite.png") repeat scroll -218px -2px #EFF1F4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 #FFFFFF;
    color: #6E6E6E;
    cursor: pointer;
    float: right;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin-left: 30px;
    padding: 7px 8px 6px 33px;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    top: 30px;
    width: 60px;
}
.cartInfo:hover {
    background-color: #E8EAED;
}
.cartInfo.open {
    background-position: -218px -26px;
}
header .simpleCart_quantity {
    font-family: "Trebuchet MS",sans-serif;
}
.btnSmallDownload {
    background: url("../images/btnSmallDownload.png") repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 32px;
    margin: 30px 0 0 30px;
    overflow: hidden;
    text-indent: -9999px;
    width: 114px;
}
.btnSmallDownload:hover {
    background-position: 0 -32px;
}
.btnSmallDownload:active {
    background-position: 0 100%;
}
#cartPopover {
    background: -moz-linear-gradient(center top , #45484A 0%, #2A2B2C 100%) repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: none;
    font-family: "FreightSansMedium",sans-serif;
    position: absolute;
    right: 14px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    top: 72px;
    width: 218px;
    z-index: 9999;
}
#triangle {
    -moz-transform: scale(1.2, 0.8) translateY(1.5px);
    color: #45484A;
    font-size: 24px;
    left: 50%;
    margin-left: -12px;
    position: absolute;
    text-shadow: 0 1px 0 #444749;
    top: -21px;
}
#cartPopover .itemRow {
    border-bottom: 1px solid #2B2D2E;
    border-top: 1px solid #434547;
    height: 12px;
    padding: 10px;
}
#cartPopover .itemRow div {
    float: left;
}
#cartPopover .item-custom {
    margin-right: 6px;
    width: 35px;
}
#cartPopover .item-custom span {
    display: inline-block;
    float: left;
    font-family: "Trebuchet MS",sans-serif;
    height: 13px;
    text-align: right;
    width: 23px;
}
#cartPopover .item-custom div {
    float: left;
    height: 13px;
    margin-left: 3px;
}
#cartPopover .simpleCart_increment, #cartPopover .simpleCart_decrement {
    display: block;
    font-size: 1px;
    height: 5px;
    line-height: 1;
    margin-top: 3px;
}
#cartPopover .item-name {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90px;
}
#cartPopover .itemRow .item-total {
    float: right;
}
#cartData {
    background: none repeat scroll 0 0 #232425;
    padding: 10px;
}
#cartData strong {
    font-family: "FreightSans",sans-serif;
}
#popoverButtons {
    padding: 10px;
}
#cartPopover strong {
    color: #FFFFFF;
}
.hudbtn {
    background: -moz-linear-gradient(center top , #3A3A3B 0%, #343434 100%) repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #6D6D6E inset;
    color: #D9D9D9;
    font: bold 13px/26px "FreightSans",sans-serif;
    height: 24px;
    padding: 0 12px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.hudbtn:hover {
    background: -moz-linear-gradient(center top , #2F2F30 0%, #282828 100%) repeat scroll 0 0 transparent;
}
.hudbtn:active {
    background: -moz-linear-gradient(center top , #282828 0%, #2F2F30 100%) repeat scroll 0 0 transparent;
    box-shadow: none;
}
.hudbtn.primary {
    background: -moz-linear-gradient(center top , #97C865 0%, #44933D 100%) repeat scroll 0 0 transparent;
    border-color: #3D7530;
    box-shadow: 0 1px 0 #D8E994 inset;
    color: #FFFFFF;
}
.hudbtn.primary:hover {
    background: -moz-linear-gradient(center top , #91BF61 0%, #3F8738 100%) repeat scroll 0 0 transparent;
}
.hudbtn.primary:active {
    background: -moz-linear-gradient(center top , #3F8738 0%, #91BF61 100%) repeat scroll 0 0 transparent;
    box-shadow: none;
}
.intro {
    background: url("../images/bgIntro.png") repeat scroll 0 0 transparent;
    height: 242px;
    overflow: hidden;
    padding-top: 57px;
}
.intro h2 {
    width: 395px;
}
.btnDownload {
    background: url("../images/btnDownload.png") repeat scroll 0 0 transparent;
    display: block;
    height: 48px;
    overflow: hidden;
    text-indent: -9999px;
    width: 200px;
}
.btnDownload:hover {
    background-position: 0 -48px;
}
.btnDownload:active {
    background-position: 0 100%;
}
#demo {
    float: right;
}
#demoShelf {
    background: url("../images/bgShelf.png") no-repeat scroll center bottom transparent;
    height: 198px;
    position: relative;
    width: 448px;
}
#demoShelf .simpleCart_shelfItem {
    -moz-transition: -moz-transform 0.3s linear 0.2s, opacity 0.8s linear 0s;
    padding-top: 15px;
    position: absolute;
    top: -250px;
    z-index: 100;
}
.addDemoAnimation {
    -moz-transform: scale(0, 0);
    opacity: 0.2;
}
#demoShelf .item_name {
    display: none;
}
#demoShelf .item_image {
    cursor: pointer;
}
.tooltip {
    background: url("../images/bgTooltip.png") repeat scroll 0 0 transparent;
    display: none;
    height: 41px;
    left: 50%;
    margin-left: -71px;
    padding-top: 2px;
    position: absolute;
    top: -30px;
    width: 144px;
    z-index: 100;
}
#demoShelf .item_price {
    border-right: 1px solid #161717;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    text-align: center;
    width: 54px;
}
#demoShelf a.item_add {
    border-left: 1px solid #696A6A;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #222222;
    width: 68px;
}
#demoArrows {
    background: url("../images/demoArrows.png") repeat scroll 0 0 transparent;
    display: block;
    height: 36px;
    margin: 15px auto 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 305px;
}
#tourLink {
    -moz-transition: opacity 0.2s linear 0s;
    background: url("../images/videoTour.png") repeat scroll 0 0 transparent;
    display: block;
    height: 172px;
    margin-top: 25px;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
    width: 276px;
}
#tourLink:hover {
    opacity: 0.95;
}
.home-page-code pre {
    font-size: 15px;
}
.home-page-code ol {
    padding-left: 38px !important;
}
.home-page-code .snippet-container {
    width: 92%;
}
.featureText {
    font-size: 16px;
    line-height: 26px;
    width: 390px;
}
.featureText p {
    line-height: 26px;
}
#features-design-visual {
    background: url("../images/features-design-sprite.png") no-repeat scroll left bottom transparent;
    height: 183px;
    margin-top: 30px;
    padding-left: 21px;
    width: 432px;
}
#features-design-visual a, #features-design-visual span {
    -moz-transition: top 0.2s linear 0s;
    background-image: url("../images/features-design-sprite.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 165px;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 136px;
}
#features-design-visual a:hover {
    top: -5px;
}
#example1 {
    background-position: -453px 0;
}
#example2 {
    background-position: -589px 0;
}
#features-design-visual span {
    background-position: -728px 0;
}
#features-gateways-visual {
    width: 37%;
}
#gatewayDemoList {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#gatewayDemoList li label {
    -moz-transition: opacity 0.2s linear 0s;
    background-image: url("../images/features-gateways-visual.png");
    cursor: pointer;
    display: block;
    float: left;
    height: 111px;
    margin-bottom: 30px;
    opacity: 0.7;
    width: 151px;
}
#gatewayDemoList li label:hover, #gatewayDemoList .active {
    opacity: 1;
}
#gatewayDemoList strong {
    display: none;
}
#featurePaypal label {
    background-position: -151px 0;
    margin-right: 30px;
}
#featureGoogle label {
    background-position: -302px 0;
}
#featureAmazon label {
    margin-right: 30px;
}
#featureEmail label {
    background-position: -453px 0;
    cursor: default !important;
    opacity: 0.5 !important;
}
#gatewayDemoList li label input {
    left: 67px;
    position: relative;
    top: 82px;
}
#features-gateway-checkout {
    background: url("../images/features-gateways-visual.png") repeat scroll 0 100% transparent;
    display: block;
    height: 51px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -9999px;
    width: 219px;
}
#features-gateway-checkout:hover {
    background-position: -219px 100%;
}
#features-gateway-checkout:active {
    background-position: -438px 100%;
}
#features-performance-visual {
    background: url("../images/features-performance-visual.png") repeat scroll 100% 100% transparent;
    height: 252px;
    margin-right: 100px;
    position: relative;
    width: 253px;
}
#gaugeCap {
    background: url("../images/features-performance-visual.png") repeat scroll -253px 0 transparent;
    height: 74px;
    left: 50%;
    margin: -37px 0 0 -37px;
    position: absolute;
    top: 50%;
    width: 74px;
    z-index: 2;
}
#needle {
    background: url("../images/features-performance-visual.png") repeat scroll 0 0 transparent;
    height: 252px;
    left: 0;
    position: absolute;
    top: 0;
    width: 253px;
    z-index: 1;
}
.moveNeedle {
    -moz-animation: 0.5s ease 0s normal none 2 needle;
}
#feature-code-bar {
    background: -moz-linear-gradient(center top , #3A3A3B 0%, #2A2C2E 100%) repeat scroll 0 0 transparent;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #000000;
    box-shadow: 0 1px 0 #4C4D4D inset;
    padding: 10px;
}
.ie9 #feature-code-bar {
    filter: none;
}
.insetBox {
    background: url("../images/grayNoise.png") repeat scroll 0 0 transparent;
    border-top: 1px solid #D6D6D6;
    clear: both;
    margin: 30px -40px -20px;
    padding: 40px;
    position: relative;
}
.insetBoxPointer {
    background: url("../images/insetPointer.png") repeat scroll 0 0 transparent;
    height: 23px;
    position: absolute;
    right: 195px;
    top: -23px;
    width: 31px;
}
.allFeatures {
    color: #555555;
    font-weight: bold;
    list-style: none outside none;
    padding-left: 0;
}
.allFeatures li {
    margin: 8px 0;
}
.allFeatures ul {
    color: #777777;
    font-weight: normal;
    list-style: disc outside none;
    padding-left: 30px;
}
.allFeatures ul li {
    margin: 2px 0;
}
.allFeatures p {
    color: #777777;
    font-weight: normal;
    margin: 3px 0;
}
.faux {
    background: url("../images/faux.png") repeat-y scroll 0 0 transparent;
}
.sideNav {
    float: left;
    padding: 40px 0 40px 40px;
    width: 196px;
}
.sideNav ul {
    list-style: none outside none;
    margin: 5px 0 30px;
}
.sideNav li {
    padding: 5px 0;
}
.sideNav a {
    color: #555555;
    font-family: "FreightSansMedium",sans-serif;
    font-weight: normal;
}
.sideNav a:hover {
    color: #222222;
}
#main {
    float: right;
    padding: 40px;
    width: 660px;
}
.signatures {
    background: none repeat scroll 0 0 #FBF7E1;
    border: 1px solid #D8D09F;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px #FFFFFF inset;
    margin: 30px 0;
    padding: 20px;
    position: relative;
}
.signatures h3 {
    color: #666666;
}
.signatures:before {
    background: none repeat scroll 0 0 #FBF7E1;
    border: 1px solid #D8D09F;
    color: #A39043;
    content: "Programmer Speak";
    font-size: 13px;
    font-weight: bold;
    padding: 6px;
    position: absolute;
    right: 10px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
    top: -13px;
}
.entry {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.breadcrumbs {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.pageTitle {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 20px;
    padding: 0 0 15px;
}
#commentArea {
    background: url("../images/shadowRight.png") no-repeat scroll right top transparent;
    border-top: 1px solid #E8EAEB;
    margin: 40px -40px;
    padding: 20px 40px;
}
#comments {
    border-top: 1px solid #CCCCCC;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.comment {
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 0;
}
.comment:before, .comment:after {
    content: "";
    display: table;
}
.comment:after {
    clear: both;
}
.comment {
}
.commentAuthor {
    float: left;
    margin-right: 20px;
    text-align: center;
    width: 80px;
}
.commentAuthor img {
    background: none repeat scroll 0 0 #F1F3F4;
    border: 1px solid #CCCCCC;
    padding: 8px;
}
.commentAuthor p {
    margin: 5px 0;
}
.commentText {
    float: right;
    width: 560px;
}
.badge {
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #FFFFFF;
    display: block;
    font: bold 10px/1 sans-serif;
    padding: 3px 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.badge.red {
    background: none repeat scroll 0 0 #D30017;
    border: 1px solid #84010C;
}
#comment_form {
    padding: 20px 0;
}
.field {
    padding: 10px 0;
}
#comment_form label {
    color: #333333;
    display: block;
    font-weight: bold;
}
#comment_form input[type="text"], #comment_form input[type="password"], #comment_form textarea {
    width: 325px;
}
input[type="text"], input[type="password"], textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FBFBFB;
    border-color: transparent #EBEBEB #EBEBEB;
    border-radius: 3px 3px 3px 3px;
    border-right: 1px solid #EBEBEB;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #E0E0E0 inset;
    display: block;
    height: 24px;
    margin: 3px 0 0;
    outline: 0 none;
    padding: 8px;
}
textarea {
    height: auto;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border: 1px solid #B9E4F4;
    box-shadow: 0 0 5px #B9E4F4;
}
#keywords {
    background: url("../images/icnSearch.png") no-repeat scroll 11px 50% #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    font-size: 14px;
    height: 13px;
    line-height: 13px;
    margin: 0;
    padding: 8px 8px 8px 35px;
    width: 120px;
}
#searchForm {
    margin-bottom: 30px;
}
.paginate {
    position: relative;
    text-align: center;
}
.paginate, .paginate a {
    background: -moz-linear-gradient(center top , #F7F7F7 0%, #EDEDED 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    color: #6E6E6E;
    font: 14px/33px "FreightSans",sans-serif;
    height: 33px;
    padding: 5px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.paginate a {
    height: 31px;
    line-height: 33px;
    padding: 0 10px;
}
.paginate a span {
    font-size: 65%;
}
#paginateInfo {
    left: 50%;
    margin-left: -25%;
    position: absolute;
    width: 50%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0 none;
    clip: rect(0pt, 0pt, 0pt, 0pt);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
}
.alignLeft {
    text-align: left;
}
.alignCenter {
    text-align: center;
}
.alignRight {
    text-align: right;
}
.largeText {
    font-size: 18px;
    line-height: 26px;
}
.left {
    float: left;
}
.none {
    float: none;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.shadowLeft {
    background: url("../images/sprite.png") no-repeat scroll 0 -69px transparent;
}
.shadowRight {
    background: url("../images/shadowRight.png") no-repeat scroll 100% 0 transparent;
}
.btn, button, input[type="submit"] {
    background: -moz-linear-gradient(center top , #F7F7F7 0%, #EDEDED 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    color: #6E6E6E;
    display: inline-block;
    font: 18px "FreightSans",sans-serif;
    padding: 16px 32px;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.btn:hover, button:hover, input[type="submit"]:hover {
    background: -moz-linear-gradient(center top , #E5E5E5 0%, #E2E2E2 100%) repeat scroll 0 0 transparent;
}
.btn:active, button:active, input[type="submit"]:active, .btn.active, button.active, input.active[type="submit"] {
    background: -moz-linear-gradient(center top , #E0E0E0 0%, #E5E5E5 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
.icn {
    display: inline-block;
}
.btn .icn, button .icn {
    padding-left: 27px;
}
.icnList {
    background: url("../images/icnBrowse.png") no-repeat scroll left center transparent;
}
.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.row {
}
.one-half, .one-third, .one-quarter, .two-quarters, .three-fourths {
    float: left;
}
.one-half {
    width: 50%;
}
.one-third {
    width: 32%;
}
@font-face {
    font-family: "FreightSans";
    font-style: normal;
    font-weight: normal;
    src: local("☺"), url("fonts/freightsans-regular-webfont.woff") format("woff"), url("fonts/freightsans-regular-webfont.ttf") format("truetype"), url("fonts/freightsans-regular-webfont.svg#FreightSansRegular") format("svg");
}
@font-face {
    font-family: "FreightSans";
    font-style: italic;
    font-weight: normal;
    src: local("☺"), url("fonts/freightsans-italic-webfont.woff") format("woff"), url("fonts/freightsans-italic-webfont.ttf") format("truetype"), url("fonts/freightsans-italic-webfont.svg#FreightSansItalic") format("svg");
}
@font-face {
    font-family: "FreightSansMedium";
    font-style: normal;
    font-weight: normal;
    src: local("☺"), url("fonts/freightsans-medium-webfont.woff") format("woff"), url("fonts/freightsans-medium-webfont.ttf") format("truetype"), url("fonts/freightsans-medium-webfont.svg#FreightSansMedium") format("svg");
}
@font-face {
    font-family: "FreightSansMediumItalic";
    font-style: italic;
    font-weight: normal;
    src: local("☺"), url("fonts/freightsans-mediumitalic-webfont.woff") format("woff"), url("fonts/freightsans-mediumitalic-webfont.ttf") format("truetype"), url("fonts/freightsans-mediumitalic-webfont.svg#FreightSansMediumItalic") format("svg");
}
@font-face {
    font-family: "FreightSans";
    font-style: normal;
    font-weight: bold;
    src: local("☺"), url("fonts/freightsans-semibold-webfont.woff") format("woff"), url("fonts/freightsans-semibold-webfont.ttf") format("truetype"), url("fonts/freightsans-semibold-webfont.svg#FreightSansSemiBold") format("svg");
}
@font-face {
    font-family: "FreightSans";
    font-style: italic;
    font-weight: bold;
    src: local("☺"), url("fonts/freightsans-semibolditalic-webfont.woff") format("woff"), url("fonts/freightsans-semibolditalic-webfont.ttf") format("truetype"), url("fonts/freightsans-semibolditalic-webfont.svg#FreightSansSemiBoldItalic") format("svg");
}
* {
    background: none repeat scroll 0 0 transparent !important;
    color: black !important;
    filter: none !important;
    text-shadow: none !important;
}
a, a:visited {
    text-decoration: underline;
}
a[href]:after {
    content: " (" attr(href) ")";
}
abbr[title]:after {
    content: " (" attr(title) ")";
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}
pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
