#{extends 'main_1.html' /}
<div class="wrap pt20 pd20">
<h2 class="item">我的订单</h2>
<div class="insideLeft">
<ul class="navlist">
<h2>我的到位儿</h2>

<li><a href="/profile">订单详情</a></li>
<li><a href="#">历史订单</a></li>
<li><a class="focus" href="/personal">我的资料</a></li>
<li><a href="/address">我的地址</a></li>
<li><a href="#">关于到位儿</a></li>
</ul>


</div>

<div class="insideRight" id="#profile">
<div class="main-content" >
		<div class="content-header">
		<h2>我的资料</h2>
		</div>
		
		<form id="add_address_form" class="ui-form-horizontal" action="/savepersonal" method="post" name="address" novalidate="novalidate">
	
	
<label for="realname">
<span class="required-mark"></span>
真实姓名:
</label>
<input id="realname" type="text" name="realname" value="${user.userDetail?.realname}">
<p>（请填写真实您的姓名）</p>
<label for="sex">
<span class="required-mark"></span>
性别:
</label>
<select id="sex" name="sex">
<option value="1" ${user.userDetail?.sex?'selected' : ''} >男</option>
<option value="0" ${user.userDetail?.sex?'' : 'selected'}>女</option>

</select>
<p>（请填写您的性别，以便我们更好的为您服务）</p>
<label for="address_phone_bk">您的积分:</label>
<input id="point" type="text" name="point" readonly="readonly"  >
<p>&nbsp;</p>
<div class="ui-form-footer">
<button id="add_address_submit" class="btn btn-yellow">保存</button>
</div>
	</form>
</div>
       
</div>
</div>


