#{extends 'main_1.html' /}
<div class="wrap pt20 pd20">
<h2 class="item">我的订单</h2>
<div class="insideLeft">
<ul class="navlist">
<h2>我的到位儿</h2>

<li><a class="focus" href="#">订单详情</a></li>
<li><a href="/profile?page=0&orderstate=3">历史订单</a></li>
<li><a href="/personal">我的资料</a></li>
<li><a href="/address">我的地址</a></li>
<li><a href="#">关于到位儿</a></li>
</ul>


</div>

<div class="insideRight">
<h2><em class="itemContent">订单详情</em><em class="unitPrice">单价</em><em class="total">合计</em><em class="state">订单状态</em></h2>
 #{list orders, as:'order'}


        <div class="myitem orangeBox">
                <div class="itemContent-price fl">
                    <ul>
                     #{list order.orderDetails, as:'detail'}
                    
                    <li>
                    <a href="#"><img src="/${detail.url}" /></a>
                    <p class="item-content fl">
                     ${detail.mealName}  </p>
                    <div class="unitPrice fr">
                    <p> ${detail.price} x ${detail.totalNum} </p>
                    </div>
                    <div class="clear"></div>
                    </li>
                       #{/list}
                    </ul>
                </div>
            
                <div class="total fl">
                    <p>&yen;${order.orderPrice}</p>
                </div>
            
                <div class="state fl">
                    
                    
                    
                 %{
    				if(order.orderstate=="0"){
				}%
					<input type="submit" class="pay-now" value="已下单" style="margin-top: 25px;">
				%{
   					} else if (order.orderstate=="1"){
				}%
 					<input type="submit" class="pay-now" value="配送中" style="margin-top: 25px;">
				%{
  			 		}else if (order.orderstate=="2"){
				}%
                    <input type="submit" class="pay-now" value="配送完毕" style="margin-top: 25px;">
                 %{
  			 		}else if (order.orderstate=="3"){
				}%
                 	<input type="submit" class="pay-now" value="完成订单" style="margin-top: 25px;">
                     %{
  			 		}
				}%	
                 	<br>
                    <div>下单时间: ${order.date}</div>
                </div>
       </div>
       
           #{/list}
<div class="page"> <a href="@{Mod.previousPage(startPosition)}">上一页</a> <a href="/profile?page=${page+1}&orderstate=0">下一页</a></div>     

       
</div>
</div>


