#{extends 'main_1.html' /}
<div class="wrap pt20 pd20">
<h2 class="item">我的订单</h2>
<div class="insideLeft">
<ul class="navlist">
<h2>我的到位儿</h2>
<li><a href="#">我的购物车</a></li>
<li><a class="focus" href="#">订单详情</a></li>
<li><a href="#">历史订单</a></li>
<li><a href="#">我的资料</a></li>
<li><a href="#">关于到位儿</a></li>
<li><a href="#">加入我们</a></li>
</ul>


</div>

<div class="insideRight">
<h2><em class="itemContent">订单详情</em><em class="unitPrice">单价</em><em class="total">合计</em><em class="state">订单状态</em></h2>
 #{list orders, as:'order'}


        <div class="myitem orangeBox">
                <div class="itemContent-price fl">
                    <ul>
                     #{list order.orderDetails, as:'detail'}
                    
                    <li>
                    <a href="#"><img src="images/shoppingListImg.jpg" /></a>
                    <p class="item-content fl"><strong><a href="#">特惠套餐一</a></strong>
                     ${detail.mealName}  </p>
                    <div class="unitPrice fr">
                    <p> ${detail.totalNum} *  ${detail.price}</p>
                    </div>
                    <div class="clear"></div>
                    </li>
                       #{/list}
                    </ul>
                </div>
            
                <div class="total fl">
                    <p>&yen;128.00</p>
                </div>
            
                <div class="state fl">
                    <p>等待买家付款</p>
                    <input type="submit" class="pay-now" value="立即付款">
                    <p class="date">2014-06-21 16:30</p>
                </div>
       </div>
       
           #{/list}
<div class="page"> <a href="#">上一页</a> <a href="#">下一页</a></div>     

       
</div>
</div>


