<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DAOWEIR</title>
<link rel="stylesheet" href="@{'/public/Style/main.css'}">
#{script src:"jquery-1.8.3.min.js" /}
#{script src:"jquery.validate.min.js"/}
<script type="text/javascript">


$(document).ready(function(){
	 $("#focus").validate({
		 
		  onsubmit:true,
		   invalidHandler: function(form, validator) {  //不通过回调 
			   
		       return false; 
		          } ,
		          
		   rules:{ email: {
			    required: true,
			    email: true
			   },
			   adminname: {
				    required: true,
				    minlength: 3,
				    remote:{                                          //验证用户名是否存在
			               type:"GET",
			               url:"/checkUser",             //servlet
			               data:{
			                 name:function(){return $("#adminname").val();}
			               } 
			              } 
				   },
			   adminpass: {
				    required: true,
				    minlength: 6
				   },
			   adminpass_1: {
				    required: true,
				    minlength: 6,
				    equalTo: "#adminpass"
				   }
		          
		   },        
		          
		   submitHandler:function(){
			   
			   $.ajax({
	                cache: true,
	                type: "POST",
	                url:"/registerUser",
	                data:$('#focus').serialize(),// 你的formid
	                async: false,
	                error: function(request) {
	                    alert("Connection error");
	                },
	                success: function(data) {
	                	
	                	parent.location.href="/index2";
	                }
	            });
			   
			  
			   $("#mask,#maskTop").fadeOut(function() {
           	    $(this).remove();

           		});
			  
		   }       
		 
	 });
	 
	 jQuery.extend(jQuery.validator.messages, {
	        required: "必选字段",
	  remote: "用户名已经被注册",
	  email: "请输入正确格式的电子邮件",
	  url: "请输入合法的网址",
	  date: "请输入合法的日期",
	  dateISO: "请输入合法的日期 (ISO).",
	  number: "请输入合法的数字",
	  digits: "只能输入整数",
	  creditcard: "请输入合法的信用卡号",
	  equalTo: "请再次输入相同的值",
	  accept: "请输入拥有合法后缀名的字符串",
	  maxlength: jQuery.validator.format("请输入长度最多是{0}的字符串"),
	  minlength: jQuery.validator.format("请输入长度最少是{0}的字符串"),
	  rangelength: jQuery.validator.format("请输入 一个长度介于 {0} 和 {1} 之间的字符串"),
	  range: jQuery.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
	  max: jQuery.validator.format("请输入一个最大为{0} 的值"),
	  min: jQuery.validator.format("请输入一个最小为{0} 的值")
	});
				
			$("#focus .input_txt").each(function(){
					var thisVal=$(this).val();
					//判断文本框的值是否为空，有值的情况就隐藏提示语，没有值就显示
					if(thisVal!=""){
							$(this).siblings("span").hide();
						}else{
							$(this).siblings("span").show();
						}
					//聚焦型输入框验证	
					$(this).focus(function(){
							$(this).siblings("span").hide();
						}).blur(function(){
								var val=$(this).val();
								if(val!=""){
									$(this).siblings("span").hide();
								}else{
									$(this).siblings("span").show();
								}	
						});
				})
				
					
		});
		
		
function tologin(){
	
	
	parent.mainlogin();
}

		
		
</script>
</head>
<body style="background-color:transparent">
<div class="register-top"></div>
<div class="register">
<h2><i><a href="#" onclick="tologin();">已注册用户登录</a></i>账号注册</h2>
<form class="border_radius" id="focus"  method="post" action="/registerUser">
    	<label><p>用户名</p><span>用户名/邮箱</span><input type="text" class="reg input_txt "   minlength="3" id="adminname"   name="adminname" maxlength="26" /></label>
        <label><p>密码</p><span>密码</span><input type="password" class="reg input_txt input_pass" id="adminpass" name="adminpass" maxlength="30"/></label>   
        <label><p>确认密码</p><span>再次输入一遍密码</span><input type="password" class="reg input_txt input_pass"  id="adminpass_1" name="adminpass_1" maxlength="30"/></label>   
        <label><p>电子邮箱</p><span>请输入正确的Email地址</span><input type="text" class="reg input_txt "  id="email" name="email" maxlength="30"/></label>   
<!--        <p class="terms"><input  type="checkbox"/>我已经同意相关条款</p>-->        
<label class="label_check" for="checkbox-01"><input name="sample-checkbox-01" id="checkbox-01" value="1" type="checkbox"  checked />我已经同意相关条款</label>        
       <p class="sub"><input type="submit" value="注册" class="input_submit" " /></p>
</form>
</div>
<div class="register-bottom"></div>
<script>
    var d = document;
    var safari = (navigator.userAgent.toLowerCase().indexOf('safari') != -1) ? true : false;
    var gebtn = function(parEl,child) { return parEl.getElementsByTagName(child); };
    onload = function() {
        
        var body = gebtn(d,'body')[0];
        body.className = body.className && body.className != '' ? body.className + ' has-js' : 'has-js';
        
        if (!d.getElementById || !d.createTextNode) return;
        var ls = gebtn(d,'label');
        for (var i = 0; i < ls.length; i++) {
            var l = ls[i];
            if (l.className.indexOf('label_') == -1) continue;
            var inp = gebtn(l,'input')[0];
            if (l.className == 'label_check') {
                l.className = (safari && inp.checked == true || inp.checked) ? 'label_check c_on' : 'label_check c_off';
                l.onclick = check_it;
            };
            if (l.className == 'label_radio') {
                l.className = (safari && inp.checked == true || inp.checked) ? 'label_radio r_on' : 'label_radio r_off';
                l.onclick = turn_radio;
            };
        };
    };
    var check_it = function() {
        var inp = gebtn(this,'input')[0];
        if (this.className == 'label_check c_off' || (!safari && inp.checked)) {
            this.className = 'label_check c_on';
            if (safari) inp.click();
        } else {
            this.className = 'label_check c_off';
            if (safari) inp.click();
        };
    };
    var turn_radio = function() {
        var inp = gebtn(this,'input')[0];
        if (this.className == 'label_radio r_off' || inp.checked) {
            var ls = gebtn(this.parentNode,'label');
            for (var i = 0; i < ls.length; i++) {
                var l = ls[i];
                if (l.className.indexOf('label_radio') == -1)  continue;
                l.className = 'label_radio r_off';
            };
            this.className = 'label_radio r_on';
            if (safari) inp.click();
        } else {
            this.className = 'label_radio r_off';
            if (safari) inp.click();
        };
    };
    
    
    
	function submitP(){
		
//$("#focus").submit();

$.ajax({
                cache: true,
                type: "POST",
                url:"/registerUser",
                data:$('#focus').serialize(),// 你的formid
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function(data) {
                	parent.location.href="/index2";
                }
            });


$("#mask,#maskTop").fadeOut(function() {
    $(this).remove();

});


		//parent.location.reload(); 
		//self.parent.location.reload()
	}		
</script>

</body>
</html>
