.simpleCart_items table {
    border: 1px solid #CCCCCC;
}
.simpleCart_items th {
    background: -moz-linear-gradient(center top , #F7F7F7 0%, #EDEDED 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
    padding: 10px 30px;
    text-align: left;
}
.simpleCart_items td {
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 30px;
    vertical-align: middle;
}
.item-image, .item-image img {
    width: 72px;
}
.item-name {
    width: 50%;
}
.item-quantity, .item-quantity input {
    text-align: center;
    width: 30px;
}
.item-price, .item-subtotal {
    width: 50px;
}
