<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DAOWEIR</title>
<link rel="stylesheet" href="@{'/public/Style/main.css'}">

#{script src:"jquery-1.7.1.min.js" /}

#{script src:"popwin.js" /}

</head>


<script>
$(document).ready(function() {
    $(".log").on('click' , function(){
		popWin.showWin("630","360","","/login_1");
	});
	 $(".regi").on('click' , function(){
		popWin.showWin("410","500","","/reg");
	});
 	//	 $(".shoppingBox").on('click' , function(){
	//	popWin.showWin("696","700","","shoppinBox.html");
	//});
 	
 	

});
$(function(){
	$(".others li").find(".box").hide();
	$(".others li").hover(function(){
		$(this).find(".box").show();
	},function(){
		$(this).find(".box").hide();
	});
});
$(document).ready(function(){
		$(this).find(".index").show();
		$(this).find(".on-hover").hide();
	$(".hover").hover(function(){
     	$(this).find(".index").hide();
    	$(this).find(".on-hover").show();
		$(this).css("z-index","999");
    	$(this).animate({width:"1000px",left:"0px"});
    	$(this).children().animate({marginLeft:"0px"});
	},function(){
		$(this).find(".index").show();
		$(this).find(".on-hover").hide();
    	$(".h0").animate({left:"0",width:"320px"},function(){$(this).css("z-index","0");});
    	$(".h1").animate({left:"340px",width:"320px"},function(){$(this).css("z-index","0");});
    	$(".h2").animate({left:"680px",width:"320px"},function(){$(this).css("z-index","0");});
	});
});

function mainlogin(){
	
	$("#mask,#maskTop").fadeOut(function() {
	    $(this).remove();

	});
	setTimeout(function(){popWin.showWin("630","360","","/login_1");},500);
	//popWin.showWin("630","360","","/login_1");
		
}

</script>



<body>
<div class="header">
    <div class="wrap">
        <div class="logo fl">
        <a href="/"></a>
        </div>
        <div class="nav style="float: right;"">
        <ul class="fl">
        <li><a href="#">首页</a></li>
        <li><a href="#taocan">套餐</a></li>
        <li><a href="#dandian">单点</a></li>
        <li class="nobg"><a href="#tehui">今日特惠</a></li>
        </ul>
        #{if user}
   
           <div class="welcome fr">   
     <p>欢迎您 ,<a class="more"  id="more" href="#">${user.username}</a>
     <span id="more-list">
     <a href="/profile">我的订单</a>
     <a href="/personal">详细资料</a>
     <a href="/address">我的地址</a>
     
     </span>
     
     <a href="@{Mod.logout()}">Logout</a>
     
     
</p>

        </div>
#{/if} 
#{else}
<div class="login_reg " style="float: right;">
        <daobutton class="log">登陆</daobutton>
        <daobutton class="regi">注册</daobutton>
        </div>
#{/else}
       <a href="@{Admin.index()}">后台登录</a> 
        </div>
    </div>
</div>
<div class="banner"></div>
  #{doLayout /}
  
  <div class="mainfooter">
  
  <script>
  var oMore=document.getElementById('more');
	var oList=document.getElementById('more-list');
	var timer=null;
	oList.onmouseover=oMore.onmouseover=function()
	{
		clearTimeout(timer);
		oList.style.display='block';
	};
	oList.onmouseout=oMore.onmouseout=function()
	{
		timer=setTimeout(function(){
			oList.style.display='none';
		},200)//200是时间可以改变
	};
  
  </script>
<p><span>Copyright &copy; 2014 DaoWeir.com All Rights Reserved. </span></p>
<p>
<a href="#">关于我们</a><span>|</span>
<a href="#">客服中心</a><span>|</span>
<a href="#">购买流程</a><span>|</span>
<a href="#">法律声明</a><span>|</span>
<a href="#">诚聘英才</a><span>|</span>
<a href="#">商务合作</a>
</p>
</div>
</body>
</html>
